{{!--
    Renders the information section of an operation.
    @api public
    @author jichi
--}}
<section class="sw-operation-information">
    {{#if operation.[x-hz-author]}}
        <div id="hz-operation-author" class="sw-default-value">
            <span class="sw-default-value-header">Author:</span>
            <a href="mailto:{{operation.[x-hz-author]}}">{{operation.[x-hz-author]}}</a>
        </div>
    {{/if}}
    {{#if operation.[x-hz-source]}}
        <div id="hz-operation-source" class="sw-default-value">
            <span class="sw-default-value-header">Source:</span>
            <a href="{{operation.[x-hz-source]}}" target="_blank">{{operation.[x-hz-source]}}</a>
        </div>
    {{/if}}
    {{#if operation.[x-hz-version]}}
        <div id="hz-operation-version" class="sw-default-value">
            <span class="sw-default-value-header">Version:</span>
            {{operation.[x-hz-version]}}
        </div>
    {{/if}}
    {{#if operation.[x-hz-minimumVersion]}}
        <div id="hz-operation-version" class="sw-default-value">
            <span class="sw-default-value-header">Minimum version:</span>
            {{operation.[x-hz-minimumVersion]}}
        </div>
    {{/if}}
    {{#if operation.[x-hz-maximumVersion]}}
        <div id="hz-operation-version" class="sw-default-value">
            <span class="sw-default-value-header">Maximum version:</span>
            {{operation.[x-hz-maximumVersion]}}
        </div>
    {{/if}}
    {{#if operation.[x-hz-versions]}}
        <div id="hz-operation-versions" class="sw-default-value">
            <span class="sw-default-value-header">Update versions:</span>
            {{#each operation.[x-hz-versions]}}{{.}}{{#unless @last}}, {{/unless}}{{/each}}
        </div>
    {{/if}}
</section>
